@import 'reset.css';

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

img {
  display: inline-block;
  height: .75em;
  width: 2em;
}

.wrapper {
  background-color: #455A64;
  color: #FFFFFF;
  height: 50%;
  position: absolute;
  top:0;
  width: 100%;
}

h1 {
  font-size: 3em;
  height: 20%;
  margin-top: 10%;
  text-align: center;
}

.top-box {
  display: block;
  font-size: .9em;
  height: 10%; 
  margin: .75em auto;
  padding: .25em;
  padding-top: .9em;
  width: 85%;
}

::placeholder{
  color: #B3B5B7;
  font-size: 1.5em;
}

.counts {
  text-align: center;
}

#enter-button {
  background-color: #FFC107;
  border-radius: 0;
  color: #FFFFFF;
  font-weight: 800;
  padding-top: .2em;
}

#enter-button:disabled {
  background-color: #FFD773;
}

#enter-button:hover {
  background-color: #FFD773;
}

.article-list {
  background-color: #CFD8DC;
  bottom:0;
  color: #455A64;
  height: 50%;
  overflow: scroll;
  position: absolute;
  width: 100%;
}

.bookmark {
  background-color: #FFFFFF;
  border: .1em solid #607D8B;
  margin: 1em 1em;
  height: 43%;
  min-height: 140px;
}

h2 {
  font-size: 2em;
  padding: .3em;
}

#website-title {
  color: #455A64;
}

#website-link {
  border-bottom: 1px solid #CFD8DC;
  border-top: 1px solid #CFD8DC;
  font-size: 1.2em;
  font-weight: 400;
  padding: 2%;
}

a {
  color: #607D8B;
  text-decoration: underline; 
  text-decoration-color: #F2F4F4;
}

a:hover {
  color: #607D8B;
  text-decoration: underline; 
  text-decoration-color: #FFC107;
}

#website-link:hover {
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #FFC107;
  font-weight: 800;
}

.bottom-button {
  background: white;
  border-style: none;
  color:#455A64;
  font-weight: 400;
  font-size: 1em;
  margin: .5em;
  padding-top: .4em;
  text-decoration: underline;
}

.bottom-button:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #FFC107;
}

.read-button-read {
  background-color: #F2F4F4;
  color: #F05A28;
  font-weight: 800;
  text-decoration-color: #FFC107;
  text-decoration: none;
}

.read-button-bookmark {
  background-color: #F2F4F4;
}

.delete-button-read {
  background-color: #F2F4F4;
}

.delete-button {
  float: right;
}

@media screen and (min-width: 735px) {

.wrapper {
  height: 100%;
  left:0;
  position: absolute;
  width: 50%;
}

h1 {
  height: 10%;
  margin-top: 25%;
}

h2 {
  padding: .4em;
}

.top-box {
  font-size: 1em;
  height: 7%;
  margin: 1.75em auto;
}

.article-list {
  height: 100%;
  position: absolute;
  right:0;
  width: 50%;
}

.bookmark {
  height: 22%;
  min-height: 128px;
}

}
